
$light-green: #DEF9C4;
$green: #9CDBA6;
$bluish-green: #50B498;
$dark-green: #468585;

$primary-color: #007BFF;
$secondary-color: #6C757D;
$background-color: #F8F9FA;
$message-bg-color: #D1ECF1;
$received-msg-bg-color: #E2E3E5;
$accent-color: #28A745;
$text-color: #212529;
$muted-text-color: #6C757D;
$error-color: #DC3545;
