@import "variables";

@import "@angular/material/prebuilt-themes/indigo-pink.css";

.header {
  height: 70px;
}

.chat-wrapp {
  flex: 1;
  max-height: calc(100vh - 80px);
}

.menu {

  &__item {
    color: $secondary-color;
  }
}
